@import '../color-variables.scss';
@import '../mixins.scss';

.status {
  padding: 6px 10px;
  border-radius: 14px;
  display: inline-block;

  &.inactive {
    background: rgba(234, 84, 85, 0.14);
    color: $red;
  }

  &.active {
    background: rgba(40, 199, 111, 0.14);
    color: $green;
  }

  &.waiting {
    background: rgba(255, 181, 71, 0.14);
    color: $yellow;
  }
}
