.icon-search {
  width: 14px;
  height: 14px;
  background: url('../assets/icons/icon_app2.png') -46px -112px;
}

.icon-eye-close {
  width: 21px;
  height: 15px;
  background: url('../assets/icons/icon_app.png') -92px -10px;
}

.icon-eye {
  width: 21px;
  height: 12px;
  background: url('../assets/icons/icon_app.png') -92px -45px;
}

.icon-delete {
  width: 21px;
  height: 12px;
  background: url('../assets/icons/icon_app.png') -45px -45px;
}

.background {
  background: url('../assets/icons/bg_voy.png');
}

.background-staking {
  background: url('../assets/icons/bg_staking.png');
}

.background-dashboard {
  background: url('../assets/icons/bg_dashboard.png');
}
